<!DOCTYPE html>
<html>
  <head>
    <title>SheilaArt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Elite&display=swap" rel="stylesheet">


    <style>
      h1 {
        text-align: center;
        margin-top: 50px;
        color: #803030;
         font-family: "Special Elite", system-ui;
        font-weight: 300;
        font-style: normal;
        font-size: 60px;
      }

      h2 {
        text-align: center;
        margin-top: 50px;
         color: #803030;
        font-family: "Special Elite", system-ui;
        font-weight: 700;
        font-style: normal;
       color: #99582a
      }
      /* Dropdown Button */
    .dropdown {
      position: absolute;
      top: 20px;
      right: 60px;

    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }



    </style>
  </head>

  <body>
    <h1>Sheila Reid</h1>
     <%= render partial: 'shared/dropdown_menu' %>
    <%= yield %>
  </body>
</html>
