<!DOCTYPE html>
<html>
  <head>
    <title>SheilaArt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Elite&display=swap" rel="stylesheet">


    <style>
      h1 {
        text-align: center;
        margin-top: 50px;
        color: #803030;
         font-family: "Special Elite", system-ui;
        font-weight: 300;
        font-style: normal;
        font-size: 60px;
      }

      h2 {
        text-align: center;
        margin-top: 50px;
        color: #803030;
        font-family: "Special Elite", system-ui;
        font-weight: 700;
        font-style: normal;
       color: #99582a;
       font-size: 35px;
      }
      h3{
        font-size: 25px;
        color:#153a5cd5;
      }
     .home-image img {
      width: 100%;
      height: auto;
      max-height: 900px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 8px 10px rgba(0,0,0,0.2);
      }
      /* Dropdown Button */
    .dropdown {
      position: absolute;
      top: 20px;
      left: 20px;

    }

    .dropbtn {
      background-color:  ##3C6295;
      color: white;
      padding: 1px;
      font-size: 28px;
      cursor: pointer;
      border: none;
      border-radius: 8px;
      transition: background-color 0.3s;
    }

    .dropbtn:hover {
      background-color: #3C6295;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 8px;
      overflow: hidden;
      left: 0;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s;
    }

    .dropdown-content a:hover {
      background-color:#FEFDFD;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .btn2 .cta {
      border: none;
      background: none;
    }

    .btn2 .cta span {
      padding-bottom: 2px;
      letter-spacing: 4px;
      font-size: 20px;
      padding-right: 10px;
      font-family: "Special Elite", system-ui;
    }

    .btn2 .cta .hover-underline-animation {
      display: inline-block;
      position: relative;
    }

    .btn2 .cta .hover-underline-animation::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #003366;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .btn2 .cta:hover .hover-underline-animation::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    </style>
  </head>

  <body>
  <br><br>
    <h1>Sheila Reid</h1>
     <%= render partial: 'shared/dropdown_menu' %>
    <%= yield %>
  </body>
</html>
